<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBox</title>
    <link rel="stylesheet" href= "{% static 'auth_user/css/landing.css' %}">
</head>
<body>
    
    <main>
        <div id="content">
            <div id="logo"></div>
            <div id="slogan">
                <h1>Upload, download, and manage your files, anywhere.</h1>
            </div>
            
                <a id="get-started-button" href="{% url 'register' %}">
                    <div id="cta-button">
                        <p>Get started</p>
                    </div>
                </a>
           
            <div id="login-path">
                <p>Already have an account? Login <a href="#"><em id="login-link">Here</em></a></p>
            </div>
        </div>
    </main>
    <aside>
        <div class="artbox-top"></div>
        <div class="artbox-bot"></div>
    </aside>

</body>
</html>