<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBox</title>
    <link rel="stylesheet" href= "{% static 'auth_user/css/user_register.css' %}">
    <script src="{% static 'auth_user/JS/user_register.js' %}"></script>

</head>
<body>
    
    <main>
        <div id="content">
            <div id="logo">
                <a href="{% url 'landing__page' %}">
                    <img src="/static/media/logo.png">
                </a>
            </div>
            
            <div id="register-info">
                <h1>Register <em>User</em></h1>
                <h3>Create an account and gain access to a personal drive. Upload, Download and manage 
                    personal files</h3>
            </div>

            <div id="user-register-form-wrapper">
                <form id="user-register-form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter a username" required>
                    
                    <label for="user-email">Email</label>
                    <input id="user-email" name="email" type="email" placeholder="Enter your email" required>
                    
                    <label for="user-password">Password</label>
                    <input id="user-password" name="password1" type="password" placeholder="Enter a password" required>
                    
                    <label for="confirm-password">Confirm Password</label>
                    <input id="confirm-password" name="password2" type="password" placeholder="Enter password (again)" required>
                    
                    <label for="submit"></label>
                    <button class="form-button" id="submit" type="submit">Submit</button>
                </form>
            </div>


            {% comment %} <div id="user-register-form-wrapper">
                <form id="user-register-form"><form>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter a username" required>

                    <label for="user-email">Email</label>
                    <input id="user-email" name="email" type="email" placeholder="Enter your email" required>

                    <label for="user-password">Password</label>
                    <input id="user-password" name="password" type="password" placeholder="Enter a password" required>

                    <label for="confirm-password">Confirm Password</label>
                    <input id="confirm-password" name="confirm_password" type="password" placeholder="Enter password (again)" required>

                    <label for="submit"></label>
                    <button class="form-button" id="submit" type="submit">Submit</button>
                </form>
            </div> {% endcomment %}
        
        
        </div>
    </main>
    <aside>
        <div class="artbox-top"></div>
        <div class="artbox-bot"></div>
    </aside>

</body>
</html>