{% extends 'base_drive.html' %}

{% block current_tree_path %}

  {% for folder in folders %}
  {% if folder.parent_folder %}
    <p>
        &gt; {{ folder.parent_folder.name }}
    </p>
    {% endif %}

  {% endfor %}

{% endblock %}

{% block content %}
    <ul>

        {% for folder in folders %}

            <li>
                <a href="{% url 'current_folder' folder.id %}">
                    <drive-folder data-folder-name="{{ folder.name }}" data-folder-id="{{ folder.id }}">
                    </drive-folder>
                </a>
            </li>
                
                    
                {% comment %} <a href="{% url 'current_folder' folder.id file.id %}"> {% endcomment %}

        {% endfor %}

        {% for file in files %}

        <li>
            <drive-file dataFileID="{{ file.id }}" data-file-name="{{ file.name }}" viewUrl="{% url 'download_file' file.id %}">
            </drive-file>
        </li>

        {% endfor %}

    </ul>

{% endblock %}