{% extends 'base_drive.html' %}

    {% block backwards_button %}

        <div id="back-button" class="drive-option">
            <svg id="back-button-svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="30" height="30" fill="url(#pattern0_141_36)"/>
                <defs>
                <pattern id="pattern0_141_36" patternContentUnits="objectBoundingBox" width="1" height="1">
                <use xlink:href="#image0_141_36" transform="matrix(0.0153846 0 0 0.0159387 0 -0.234483)"/>
                </pattern>
                <image id="image0_141_36" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO3ay0rDUBSG0V8HasFHFykieAMfwkHxpbzgrcPKgYy8pKUmu0LWgj0r5PBRTpLTJgAAAAAAAAAAAPDNYZKTJA9J3pJcJZnpNHzkRZLVl2mxGTlymxeVx4/c5nmg60zaushtTne9yClEXnSfY0sHSe7WRL5PcqTw9kQuIHIBkQuIXEDkAiIXELmAyAVmG7zxmfQ2eEpyvu6I+EbIDPVFuvwt8n6SD6EzVOj3rumPoZdCZ/TQzbXQGSr0Rd8e3U7c3Azzp8CPSc42+b3U410hsQuJXUjsQmIXEruQ2IXELiR2IX+g+Wex55ULmnLs1yR7u17kFGIv+44KGS72rZjjxJ5328Wyi3w8wnXotD3ZvgwAAAAAAAAAAJBqn4WM1glTQfSpAAAAAElFTkSuQmCC"/>
                </defs>
                </svg>
                
            <p>Previous Folder</p>
        </div>

    {% endblock  %}

{% block current_tree_path %}

  {% for folder in folder_chain %} 
    <p>
        &nbsp;&gt; {{ folder.name }}
    </p>

  {% endfor %}

{% endblock %}

{% block content %}
    <ul>

        {% for folder in folders %}

            <li>
                <a href="{% url 'current_folder' folder.id %}">
                    <drive-folder data-folder-name="{{ folder.name }}" data-folder-id="{{ folder.id }}">
                    </drive-folder>
                </a>
            </li>
                
                    
                {% comment %} <a href="{% url 'current_folder' folder.id file.id %}"> {% endcomment %}

        {% endfor %}

        {% for file in files %}

        <li>
            <drive-file dataFileID="{{ file.id }}" data-file-name="{{ file.name }}" viewUrl="{% url 'download_file' file.id %}">
            </drive-file>
        </li>

        {% endfor %}

    </ul>

{% endblock %}